<div class="row justify-content-center">
  <div class="col-12 col-md-3">
    <img src="images/beer.png" class="img-fluid mb-2" alt="Beer" />
    <div class="d-grid gap-2">
      <a class="btn btn-primary" href="/beers">Beer list</a>
      <a class="btn btn-secondary" href="/random-beer">Random Beer</a>
    </div>
  </div>
</div>